@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.content-center{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.content-center_logo{
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.poppins{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.content-center_core-text h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
}

.content-center_core-text p{ 
    margin: 0 27%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}